.heading-zone {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 80px;
    background: url(../../images/header-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    color: #fff;
    display : flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  .heading-zone {
    padding-bottom: 32px;
  }
}

  .heading-zone__search {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
      margin: 0 auto 0;
      max-width: 630px;
  }

  @media screen and (max-width: 900px) {
    .heading-zone__search {
      max-width: 450px;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-zone__search {
      max-width: 285px;
    }
  }

  /* NB : title text centered to improve design */
  .heading-zone__title {
    margin-top: 80px;
    margin-bottom: 32px;
    font-family: 'Roboto Slab',Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
  }

  @media screen and (max-width: 900px) {
    .heading-zone__title {
      margin-top: 38px;
      margin-bottom: 16px;
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-zone__title {
      margin-top: 30px;
    }
  }

  .heading-zone__subtitle {
    margin-top : 0;
    margin-bottom : 88px;
    text-align: center;
  }

  @media screen and (max-width: 900px) {
    .heading-zone__subtitle {
      margin-bottom: 48px;
   }
  }

  @media screen and (max-width: 600px) {
    .heading-zone__subtitle {
      margin-bottom: 122px;
   }
  }