.form__inputs-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form__input-zone {
    position: relative;
    width: 100%;
}

.form__label {
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin-bottom: 9px;
    padding-left: 2px;
}

.form__input {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    margin-bottom: 31px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input::placeholder {
    /* increased opacity because it was not readable at 0.2 */
    opacity: 0.4;
}

.form__input:focus{
    outline: none;
    border-bottom: 1px solid black;
}

.popup__input-error {
    color: red;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    bottom: 13px;
    padding-left: 2px;
}

@media screen and (max-width: 400px) {
  .popup__input-error {
    bottom: 0;
  }
}

.popup__input-error_doubleline {
  color: red;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  bottom: 0;
  padding-left: 2px;
}

.popup__email-error {
  color: red;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  bottom: 0px;
  padding-left: 2px;
}


.popup__button {
    background-color: #2F71E5;
    color: white;
    border: none;
    padding: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 360px;
    height: 64px;
    font-weight: 500;
    border-radius: 100px;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    margin-top: 8px;

  }

  @media screen and (max-width: 450px) {
    .popup__button {
      width: 100%;
    }
  }
  
  .popup__button:hover {
    opacity: 0.85;
    cursor: pointer;
  }

  .popup__button_deactivated {
    background-color: #E6E8EB;
    color: #B6BCBF;
    box-shadow: none;
  }

  .popup__button:active {
    background-color: #2A65CC;
}

  .popup__alternative-link-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
}

.popup__alternative-text {
    margin: 0 10px 0 0;
    padding-bottom: 1px;
}

.popup__alternative-link {
    color : #2F71E5;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.popup__alternative-link:hover {
    cursor: pointer;
}
